.markdown {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
}

.markdown p,
.markdown li {
  line-height: 1.8;
  margin-bottom: 1rem;
  color: #111111cc;
}

*::selection {
  background-color: #69fc9ae8;
  color: #242424;
  font-style: oblique;
}

.markdown code {
  background-color: #b1b1b128;
  padding: 0.2rem 0.4rem;
  font-size: 0.95rem;
  border-radius: 4px;
  font-weight: 600;
  color: #0c0a2b8f;
}

.markdown pre code {
  padding-top: 40px;
}


.markdown code::-webkit-scrollbar {
  display: none;
}

.markdown table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  margin: 16px 0;
  font-size: 0.95rem;
  min-width: 300px;
}

.markdown th,
.markdown td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
  overflow-x: scroll;
}

.markdown thead {
  font-weight: bold;
}

.markdown table td select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


@media (max-width:400px) {

  .markdown p,
  .markdown li {
    line-height: 1.8;
    margin-bottom: 1rem;
    color: #111111cc;
  }

}